<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:b="http://www.springframework.org/schema/beans"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
                             http://www.springframework.org/schema/beans/spring-beans.xsd
                             http://www.springframework.org/schema/security
                             http://www.springframework.org/schema/security/spring-security-3.1.xsd">
    
    <http auto-config="false" access-denied-page="/acesso/AcessoNegado.xhtml">
        <intercept-url pattern="/usuario/**" access="ROLE_USUARIO, ROLE_ADMINISTRADOR, ROLE_SUPERADMIN" />
        <intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />

        <form-login login-page="/acesso/Login.xhtml" 
                    always-use-default-target="false"
                    default-target-url="/acesso/PaginaInicial.xhtml"
                    authentication-failure-url="/acesso/Login.xhtml?error=1"/>
                    
        <logout logout-success-url="/"/>
    </http>

    <authentication-manager>
        <authentication-provider>
            <password-encoder hash="md5"/>
            <jdbc-user-service data-source-ref="dataSource"
                               users-by-username-query="SELECT login, senha, 'true' as enable FROM usuario WHERE login=?"
                               authorities-by-username-query="SELECT u.login, per.role FROM usuario u, perfil per WHERE u.codigo_perfil = per.codigo AND u.login = ?"/>
        </authentication-provider>
    </authentication-manager>
    
    <b:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
        <b:property name="url" value="jdbc:postgresql://localhost:5432/socialClub"/>
        <b:property name="driverClassName" value="org.postgresql.Driver"/>
        <b:property name="username" value="postgres"/>
        <b:property name="password" value="admin"/>
    </b:bean>
</b:beans>
